@import'../../../styles.scss';

.form {
    margin-top: 10vh;
    min-height: 90vh;
    width:100vw;

    h3, th {
        font-family: $fontTitle;
    }

    p, button, td {
        font-family: $fontText;
    }

    .getFacts {
        margin-top: 5vh;
    }

    .pict1 {
        display: flex;
        justify-content: space-around;
        #pi {
            height: 70px;
            width: 50px;
        }
    }

    label{
        margin-top: 5vh;
    }

    .input {
        width: 100%;
    }

    .table {
        margin-top: 10vh;
        width: 80%;
    }
}
