<section class="form">

  <div class='container p-0 flex-column align-items-start'>

    <div class='row justify-content-center'>
      <h3 class='col-10 text-center'>
        Welcome to Julia's historical dates app !
      </h3>
      <p class='col-12 text-center px-0 info'>
        If your want to learn historical facts about one or more dates, this app is made for you.
      </p>
      <span class='col-12 text-center px-0 info' id='quote'>"History is not was, it is."</span> 
      <span class='col-12 text-center px-0 info'>William Faulkner</span>
    </div>

    <label for='dates'
      class='row justify-content-center'
    >
      <p class='col-12 text-center'>
        Enter dates separated by commas (ex : 1/1, 4/13, 5/12) :
      </p>
        
      <input id='dates' 
        class='col-6 col-md-4 input' 
        [ngModel]="datesToCheck" 
        (ngModelChange)="datesToCheck=$event" 
        placeholder="Enter your date(s) here"
      >
    </label>

    <div class='row align-items-center flex-column getFacts mx-0'>
      <p class='col-8 text-center'>
        Get interesting data about the dates :
      </p>
      <button [disabled]='enableClick' 
        class='col-6 col-md-4 btn btn-dark' 
        (click)='getFacts()'
      >
        Show historical facts
      </button>
    </div>

  </div>

  <div class='m-0 row justify-content-center'
    *ngIf="displayFacts"
  >
    <table class="table table-striped">

      <thead class="thead-dark">
        <tr class='row'>
          <th class='col-3' 
            scope="col"
          >
            Dates
          </th>
          <th class='col-9' 
            scope="col"
          >
            Historical facts
          </th>
        </tr>
      </thead>

      <tbody>
        <tr class='row' 
          *ngFor="let item of factsArr"
        >
          <td class='col-3'>{{ item.date }}</td>
          <td class='col-9'>{{ item.fact }}</td>
        </tr>
      </tbody>
      
    </table>
  </div>
  
</section>
