<div class='container flex-column align-items-start'>
  <label>
    Enter dates separated by commas (ex : 1/1, 4/13, 5/12) :
    <input [ngModel]="datesToCheck" (ngModelChange)="datesToCheck=$event" placeholder="Enter your date here">
  </label>

  <button (click)='getFacts()'>Get interesting data about the dates</button>
</div>

<table>
  <tr>
    <th>Dates</th>
    <th>Historical facts</th>
  </tr>
  <tr *ngFor="let item of factsArr">
    <td>{{ item.date }}</td>
    <td>{{ item.fact }}</td>
  </tr>
</table>
