<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <button class="navbar-toggler" 
    type="button" 
    data-toggle="collapse" 
    data-target="#toggleNumbersAppMenu" 
    aria-controls="toggleNumbersAppMenu" 
    aria-expanded="false" 
    aria-label="Toggle menu"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <a class="navbar-brand" 
    routerLink="/">
    <img [src]='piPicture' 
      id="pi" 
      alt='pi number'
    >
  </a>

  <div class="collapse navbar-collapse" 
    id="toggleNumbersAppMenu"
  >
    <ul class="navbar-nav mr-0 mt-2 mt-lg-0">
      <li class="nav-item mr-2">
        <a class="nav-link" 
          routerLink="/"
        >
          Choose your dates
        </a>
      </li>
      <li class="nav-item mr-2">
        <a class="nav-link" 
          routerLink="/facts-list"
        >
          Your facts list
        </a>
      </li>
    </ul>
  </div>
  
</nav>
