@import'../../../styles.scss';


.pict1 {
  display: flex;
  justify-content: space-around;

  #pi {
    height: 70px;
    width: 50px;
  }
}

a {
  border-bottom: auto;
  font-family: $fontText;
  font-size: 20px;
  margin-left: 5vh;
}

.activeClass {
  border-bottom: 2px solid #ffffff;
  color: #ffffff !important;
}


@media screen and (max-width: 991px){
  a {
    margin-left: 0;
  }

  .activeClass {
    border-bottom: none;
  }
}