@import'../../../styles.scss';


.pict1 {
    display: flex;
    justify-content: space-around;
    #pi {
        height: 70px;
        width: 50px;
    }
}

a {
    font-family: $fontText;
    font-size: 20px;
    margin-left: 5vh;
    border-bottom: auto;
}

.activeClass {
    color: #ffffff !important;
    border-bottom: 2px solid #ffffff;
}


@media screen and (max-width: 991px){
    a {
        margin-left: 0;
    }

    .activeClass {
        border-bottom: none;
    }
}