@import'../../../styles.scss';


.activeClass {
    color: #ccccff !important;
}

.pict1 {
    display: flex;
    justify-content: space-around;
    #pi {
        height: 70px;
        width: 50px;
    }
}

a {
    font-family: $fontText;
    font-size: 20px;
}