<section class='collection container p-0 flex-column align-items-start'>

  <h3>Your facts collection</h3>

  <div class='row justify-content-center'>
  <button class='col-4 btn btn-light' (click)="goBack()">Go back to learn more facts</button>
  </div>

  <div class='row justify-content-center'>
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr class='row'>
          <th class='col-3' 
            scope="col"
          >
            Dates
          </th>
          <th class='col-9' 
            scope="col"
          >
            Historical facts
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class='row' 
          *ngFor="let item of facts"
        >
          <td class='col-3'>{{ item.date }}</td>
          <td class='col-9'>{{ item.fact }}</td>
        </tr>
      </tbody>
    </table>
  </div>

</section>
