@import'../../../styles.scss';

.collection{
    width:90vw;

    h3 {
        font-family: $fontTitle;
        margin: 10vh;
        text-align: center;
    }

    th {
        font-family: $fontTitle;
    }

    p, button, td{
        font-family: $fontText;
    }
}