@import'../../../styles.scss';

:host{
    width:100vw;

    h3 {
        font-family: $fontTitle;
        margin-top: 10vh;
        text-align: center;
    }

    button {
        margin: 10vh;
        position: center;
        border: 1px solid grey;
    }

    .factsTable {
        max-width: 100vw;

        table {
            width: 90%;
        }
    }

    th {
        font-family: $fontTitle;
    }

    p, button, td{
        font-family: $fontText;
    }
}